<html>
  <body>
    <h1>This is <%=name%>'s first web app!</h1>
    
    <h2>I love to travel.</h2>
    
    Check out my <a href = "http://carbon-blackwater-bay-24-132163.use1.nitrousbox.com/travel">travel blog</a>!
    
  </body>
</html>